@font-face {font-family: 'Sansation Bold';src: url('Sansation_Bold.ttf')}
@font-face {font-family: 'Sansation Regular';src: url('Sansation_Regular.ttf')}
@font-face {font-family: 'Sansation Light';src: url('Sansation_Light.ttf')}

* {
    font-family: 'Sansation_Regular';
}
